<!DOCTYPE html>
<html>
  <head>
    <title>FreemarketSample64e</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="sc-dliRfk lnMXqm">
      <div class="sc-kLIISr fqOIIb">
        <img src="https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png" alt="" class="sc-iqzUVk jAEZMX">
        <div class="sc-qrIAp PkUrY">
          <div class="sc-jtggT bqsQJl">スマホでかんたん
            <br>フリマアプリ
          </div>
          <p class="sc-ebFjAB SGfox">メルカリはスマホカメラからすぐに出品できる
            <br>購入時も安心な独自システムのアプリです
          </p>
          <div class="sc-iGrrsa heyozC">
            <a href="https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8" target="_blank" rel="noopener noreferrer">
              <img src="https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg" alt="" class="sc-ipZHIp sc-bmyXtO gxiFBJ">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja" target="_blank" rel="noopener noreferrer">
              <img src="https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg" alt="" class="sc-ipZHIp sc-dEoRIm jcELSQ">
            </a>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
